extends ../layout/layout

block prepend head
    - var page = "over"
    - var title = "over mij"
    - var description = "Wie is Renee de Kruijf en waarom toegankelijkheid belangrijk is"
    - var path = "../"

block content
    article(class="article")
    h2(class="h2 h2--index") Ik ben Renee de Kruijf
    section.align
        p(class="p p__right p__right--index")
            strong.p__firstWord Ik ben Renee de Kruijf en ik ben expert digitale toegankelijkheid.
            | In 2016 ben ik gestart met Webdesignpuntnl, het bouwen en ontwikkelen van websites. Dat heb ik een paar jaar gedaan maar ik merkte dat mijn interesse in de toegankelijkheid van websites steeds groter begon te worden. In 2021 ben ik me helemaal gaan toeleggen op digitale toegankelijkheid. Ik vind dat iedereen mee moet kunnen doen aan de maatschappij ongacht afkomst, religie of beperking. In Nederland heeft ongeveer 25% van de bevolking een beperking. Veel dingen zijn niet meer te regelen zonder het internet, dat geldt ook voor deze groep. Het internet is van oorsprong toegankelijk en inclusief maar helaas worden veel websites niet op de juiste manier gebouwd waardoor het voor een groot aantal mensen erg moeilijpmk is om bepaalde websites te gebruiken. Dit moet en kan anders en daar zet ik me heel graag voor in. Het is belangrijk dat iedereen mee kan doen in de maatschappij en dus ook op internet. Een ontoegankelijke website kan een bedrijf ook klanten kopsten. Ben je op zoek naar een nieuwe website? Dan wil je natuurlijk dat deze zo toegankelijk mogelijk wordt gemaakt. Heb je al een website? Maar weet je niet zeker of deze toegankelijk is? Of wil je gewoon meer informatie over toegankelijkheid? Ik kan je daar bij helpen! Kijk maar eens rond op mijn website. Je kunt ook 
            a(href="contact.pug") contact opnemen
            |  via het contact formulier. Ik hoop je graag te spreken.
        img(src="../../images/renee-de-kruijf.jpg" width="230" height="308" class="index__image right" loading="lazy" alt="Renee de Kruijf" )
    