extends layout/layout

block prepend head
    - var page = "index"
    - var title = "Toegankelijkheidonline"
    - var description = "Toegankelijkheidonline Culemborg is gespecialiseerd in alles op het gebied van toegankelijkheid"
    - var path = ""
        
block content
    article(class="article")
    h2(class="h2 h2--index") bouwen aan toegankelijke websites
    section.align 
        p(class="p") 
            strong.p__firstWord Het internet
            | is van ons allemaal! Dit is vandaag de dag meer waar dan ooit. Voor veel dingen die we dagelijks doen hebben we het internet nodig. Alleen is dit niet voor iedereen even vanzelfsprekend. Mensen met een beperking kunnen niet altijd goed gebruik maken van het internet. Iedereen moet mee kunnen doen aan de maatschappij en daar hoort het internet ook bij. Het is mijn missie om er voor te zorgen dat het internet bruikbaar wordt en blijft voor iedereen, door te zorgen dat websites toegankelijk zijn. Wil je voldoen aan (toekomstige) wetgeving, meer mensen bereiken, hoger scoren in Google of gewoon alle bezoekers een goede ervaring geven op je website? Lees dan verder op deze pagina of 
            a(href="pages/contact.pug") neem contact op!

    section.align
        a(href="pages/gratispdf-niet-verzonden.pug" class="hidden") 
        a(href="pages/gratispdf-verzonden.pug" class="hidden") 
        a(href="pages/gratis-pdf-downloaden.pug" class="hidden") 
        p(class="p p__right p__right--index")
            strong.p__firstWord Quickscan toegankelijkheid
            | Heb je een website? En weet je niet zeker of deze of deze door iedereen op de juiste wijze kan worden bezocht en gebruikt? Laat je website dan testen op toegankelijkheid. Met een Quickscan wordt er gekeken naar een aantal belangrijke toegankelijkheidseisen. De Quickscan geeft een grove indicatie van wat er verbeterd kan worden aan de toegankelijkheid. Wil je dat je website zo toegankelijk mogelijk is dan zijn er echter veel meer punten waarop getest moet worden. Wil je meer weten over de Quickscan klik dan op de button.
            | Wil je weten of je website toegankelijk is of hoe je deze toegankelijk kunt maken, lees dan hieronder verder. 
        a(href="pages/diensten.pug#quickscan" class="link__button link__button--cta") quickscan  
    section.align
        p(class="p p__left p__left--index") 
            strong.p__firstWord Onderzoek toegankelijkheid
            | In het onderzoek worden 6 pagina's gecontroleerd op alle richtlijnen voor een toegankelijke website. Het onderzoek is een prima optie voor bedrijven en instellingen die alleen de verbeterpunten zichtbaar willen hebben maar die zelf de kennis in huis hebben om de website toegankelijk te maken. 
            a(href="pages/contact.pug") Neem voor meer informatie over het onderzoek contact op!
        img(src="../images/testing.svg" width="230" height="230" loading="lazy" class="index__image right" alt="")
    section.alignsection.align
        p(class="p p__right p__right--index") 
            strong.p__firstWord Audit toegankelijkheid
            | De Audit is de meest complete optie. Alles is eigenlijk hetzelfde als bij het onderzoek maar bij de audit worden er, indien nodig, extra pagina's gecontroleerd. Het is ook een volledige controle van de toegankelijkheidsrichtlijnen. Ook bij de Audit is het eindresultaat een rapport maar in dit geval worden er ook oplossingen voorgesteld die de toegankelijkheid vergroten.  
            a(href="pages/contact.pug") Neem voor meer informatie over de Audit contact op!
        img(src="../images/designing.svg" loading="lazy" width="230" height="230" class="index__image left" alt="") 
    section.align
        p(class="p p__left p__left--index") 
            strong.p__firstWord Advies
            | Wil je zelf een website bouwen of laat je er eentje bouwen? Wil je dat de website toegankelijk is voor iedere bezoeker? Ik kan je daarbij helpen door het geven van advies. Toegankelijkheid is een proces en het is goed hier vanaf het begin rekening mee te houden. Het heeft constant aandacht nodig en vraagt bewustwording van de hele organisatie.  
            a(href="pages/contact.pug") Neem voor meer informatie over het geven van advies contact op!
        img(src="../images/office.svg" loading="lazy" width="230" height="230" class="index__image right" alt="")
    section.align
        //- p(class="p p__right p__right--index") 
        //-     strong.p__firstWord O
        //-     | 
        //- img(src="images/office.svg" class="index__image right" alt="")
        p(class="p p__right p__right--freeTest")
            strong.p__firstWord Gratis  
            | PDF met tips en trucs die je snel en gemakkelijk kunt toepassen op je eigen site. Het enige wat het je kost is je emailadres om zo af en toe een nieuwsbrief te ontvangen met updates over mijn blog of andere handige zaken die met het internet en met toegankelijkheid te maken hebben. Je kunt je natuurlijk altijd afmelden als je de mails niet langer wilt ontvangen. 
        div(id="mlb2-3847912" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-3847912")
            div(class="ml-form-align-center")
                div(class="ml-form-embedWrapper embedForm")
                    div(class="ml-form-embedBody ml-form-embedBodyDefault row-form")
                        div(class="ml-form-embedContent" style="margin-bottom:0")
                            form(class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/k2u2z4" data-code="k2u2z4" method="post" target="_self")
                                div(class="ml-form-formContent")
                                    div(class="ml-form-fieldRow")
                                        div(class="ml-field-group ml-field-name ml-validate-required")
                                            label naam
                                            input(aria-label="name" aria-required="true" type="text" class="form-control" data-inputmask="" name="fields[name]" placeholder="" autocomplete="name")
                                        div(class="ml-form-fieldRow ml-last-item")
                                            div(class="ml-field-group ml-field-email ml-validate-email ml-validate-required")
                                                label email
                                                input(aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="" autocomplete="email")
                                        div(class="ml-form-checkboxRow ml-validate-required")
                                            label(class="checkbox") 
                                                input(type="checkbox") 
                                                span(class="label-description")
                                                    p.agreement Ik ga akkoord met de 
                                                        a(href="https://www.toegankelijkheidonline.nl/pages/privacy.html" class="link") privacy verklaring
                                        div(class="ml-form-recaptcha ml-validate-required")
                                            script(src="https://www.google.com/recaptcha/api.js")
                                            div(class="g-recaptcha" data-sitekey="6Lf1KHQUAAAAAFNKEX1hdSWCS3mRMv4FlFaNslaD")
                                        input(type="hidden" name="ml-submit" value="1")
                                        div(class="ml-form-embedSubmit")
                                            button(type="submit" class="primary") versturen
                                            button(disabled="disabled" style="display:none" type="button" class="loading")
                                                span(class="ml-form-embedSubmitLoad")
                                                    span(class="sr-only") Loading...
                                        input(type="hidden" name="anticsrf" value="true")
                                    div(class="ml-form-successBody row-success" style="display:none")
                                        div(class="ml-form-successContent")
                                            h4 Thank you!
                                            p You have successfully joined our subscriber list.
    script(src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c")
    script(src="../js/mailerLite.js")
    
        
    +testimonials